<!-- base.html -->
<html>
<head>
    <title>{% block title %}My Website{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/fittext.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    <script>

    </script>
    {% block head %}{% endblock %}
</head>
<body>
    <button class="openbtn" id="openbtn" onclick="toggleSidebar()">&#9776; Sidebar</button>
    <div id="mySidebar" class="sidebar">
        <div class="user-profile">
            <img src="../static/images/user.png" alt="User Avatar" class="avatar">
            <p class="username" id="display-name">John Doe</span>
        </div>
        <a href="#" class="sidebar-link hidden-link" id ="missions-link"></a>
        <a href="#" class="sidebar-link hidden-link" id ="history-link"></a>
        <a href="#" class="sidebar-link hidden-link" id ="leaderboard-link"></a>
        <a href="#" class="sidebar-link hidden-link" id ="tutorial-link"></a>
        <a href="#" class="sidebar-link hidden-link" id ="advisors-link"></a>
        <a href="#" class="sidebar-link hidden-link" id ="admin-link"></a>
        <a href="/login" class="sidebar-link"><i class="fas fa-sign-in-alt"></i> Log in</a>
        <a href="/logout" class="sidebar-link"><i class="fas fa-sign-out-alt"></i> Sign out</a>
    </div>
    <script>
        var profile_name = document.getElementById("display-name");
        profile_name.innerHTML = user_info["username"];
    </script>

    <header id="header">
        {% block header %}{% endblock %}
    </header>
    

    <main id="main">
        
        {% block content %}{% endblock %}
    </main>
    
    <footer id="footer">
        {% block footer %}{% endblock %}
    </footer>
</body>
<script>
    document.addEventListener('keydown', function(event) {
        var modal = document.getElementById("event-modal");
        // Check if the pressed key is the Escape key
        if (event.key === 'Escape' && modal.style.display == "none") {
            // Call your desired function here
            toggleSidebar();
        }
    });
</script>
</html>
