{% extends "base.html" %}

{% block title %}Wildlife Conservation{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/grid.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
{% endblock %}

{% block sidebar %}
<button class="openbtn" id="openbtn" onclick="toggleSidebar()">&#9776; Sidebar</button>
<div id="mySidebar" class="sidebar">
    <div class="user-profile">
        <img src="../static/images/user.png" alt="User Avatar" class="avatar">
        <p class="username" id="display-name">John Doe</span>
    </div>
    <a href="#" class="sidebar-link-current" aria-disabled="true" ><i class="fas fa-home" style="color: #ffffff;"></i> Missions</a>
    <a href="/history" class="sidebar-link"><i class="fas fa-history"></i> History </a>
    <a href="/leaderboard" class="sidebar-link"><i class="fas fa-trophy"></i> Leaderboard</a>
    <a href="/tutorial" class="sidebar-link"><i class="fas fa-question-circle"></i> Help/Tutorial </a>
    <a href="/login" class="sidebar-link"><i class="fas fa-sign-in-alt"></i> Log in</a>
    <a href="/logout" class="sidebar-link"><i class="fas fa-sign-out-alt"></i> Sign out</a>
</div>
<script>
    var profile_name = document.getElementById("display-name");
    profile_name.innerHTML = user_info["username"];
</script>
{% endblock %}

{% block header %}
    <div>
        <h1 class="line-1 anim-typewriter">
            Conservation: Our Duty, Their Future.
        </h1>
    </div>
    <script>
        const textElement = document.querySelector('.line-1');

        textElement.addEventListener('animationend', () => {
        textElement.classList.add('hide-cursor');
        });
    </script>
    
{% endblock %}  

{% block content %}
<i class="fas fa-chevron-left" style="color: #ffffff;" onclick="decrement_page()" ></i>
<div class="grid">
    <div class="grid-item" id="mission0">
        <div class="small-flex-container meta-info">
            <div class="small-flex-item point-value">500</div>
            <div class="small-flex-item advisor-name">points</div>
        </div>
        <div class="vl"></div>
        <div class="small-flex-container main-mission">
            <div class="small-flex-item mission-name">Nepal</div>
            <div class="small-flex-item mission-description">Alleviate children's education in Nepal while creating curricula for local schools</div>
        </div>
    </div>
    <div class="grid-item" id="mission1">
        <div class="small-flex-container meta-info">
            <div class="small-flex-item point-value">500</div>
            <div class="small-flex-item advisor-name">points</div>
        </div>
        <div class="vl"></div>
        <div class="small-flex-container main-mission">
            <div class="small-flex-item mission-name">Nepal</div>
            <div class="small-flex-item mission-description">Alleviate children's education in Nepal while creating curricula for local schools</div>
        </div>
    </div>
    <div class="grid-item" id="mission2">
        <div class="small-flex-container meta-info">
            <div class="small-flex-item point-value">500</div>
            <div class="small-flex-item advisor-name">points</div>
        </div>
        <div class="vl"></div>
        <div class="small-flex-container main-mission">
            <div class="small-flex-item mission-name">Nepal</div>
            <div class="small-flex-item mission-description">Alleviate children's education in Nepal while creating curricula for local schools</div>
        </div>
    </div>
    <div class="grid-item" id="mission3">
        <div class="small-flex-container meta-info">
            <div class="small-flex-item point-value">500</div>
            <div class="small-flex-item advisor-name">points</div>
        </div>
        <div class="vl"></div>
        <div class="small-flex-container main-mission">
            <div class="small-flex-item mission-name">Nepal</div>
            <div class="small-flex-item mission-description">Alleviate children's education in Nepal while creating curricula for local schools</div>
        </div>
    </div>
    <div class="grid-item" id="mission4">
        <div class="small-flex-container meta-info">
            <div class="small-flex-item point-value">500</div>
            <div class="small-flex-item advisor-name">points</div>
        </div>
        <div class="vl"></div>
        <div class="small-flex-container main-mission">
            <div class="small-flex-item mission-name">Nepal</div>
            <div class="small-flex-item mission-description">Alleviate children's education in Nepal while creating curricula for local schools</div>
        </div>
    </div>
    <div class="grid-item" id="mission5">
        <div class="small-flex-container meta-info">
            <div class="small-flex-item point-value">500</div>
            <div class="small-flex-item advisor-name">points</div>
        </div>
        <div class="vl"></div>
        <div class="small-flex-container main-mission">
            <div class="small-flex-item mission-name">Nepal</div>
            <div class="small-flex-item mission-description">Alleviate children's education in Nepal while creating curricula for local schools</div>
        </div>
    </div>
    <div class="grid-item" id="mission6">
        <div class="small-flex-container meta-info">
            <div class="small-flex-item point-value">500</div>
            <div class="small-flex-item advisor-name">points</div>
        </div>
        <div class="vl"></div>
        <div class="small-flex-container main-mission">
            <div class="small-flex-item mission-name">Nepal</div>
            <div class="small-flex-item mission-description">Alleviate children's education in Nepal while creating curricula for local schools</div>
        </div>
    </div>
    <div class="grid-item" id="mission7">
        <div class="small-flex-container meta-info">
            <div class="small-flex-item point-value">500</div>
            <div class="small-flex-item advisor-name">points</div>
        </div>
        <div class="vl"></div>
        <div class="small-flex-container main-mission">
            <div class="small-flex-item mission-name">Nepal</div>
            <div class="small-flex-item mission-description">Alleviate children's education in Nepal while creating curricula for local schools</div>
        </div>
    </div>
    <div class="grid-item" id="mission8">
        <div class="small-flex-container meta-info">
            <div class="small-flex-item point-value">500</div>
            <div class="small-flex-item advisor-name">points</div>
        </div>
        <div class="vl"></div>
        <div class="small-flex-container main-mission">
            <div class="small-flex-item mission-name">Nepal</div>
            <div class="small-flex-item mission-description">Alleviate children's education in Nepal while creating curricula for local schools</div>
        </div>
    </div>
</div>
<i class="fas fa-chevron-right" style="color: #ffffff;" onclick="increment_page()"></i>

<div id="event-modal" class="modal">
    <div class="modal-content">
        <span class="close" id="modal-close">&times;</span>
        <div class="mission-info-container">
            <div class="mission-info">
                <p><i class="fas fa-globe-americas"></i> 500</p>
            </div>
            <div class="mission-info">
                <p><i class="far fa-eye"></i> broadcast</p>
            </div>
            <div class="mission-info">
                <p><i class="far fa-clock"></i> 7:00PM</p>
            </div>
            <div class="mission-info">
                <p><i class="fas fa-map-marker-alt"></i> Nepal</p>
            </div>
        </div>
        <h1 class="mission-title">Nepal</h1>
        <hr>
        <p>This is the modal content.</p>
    </div>
</div>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script>
    // Get the modal element
    var modal = document.getElementById("event-modal");

    // Get the div elements to open the modal
    var divs = document.getElementsByClassName("grid-item");

    // Get the close button
    var close_button = document.getElementById("modal-close");

    // Open the modal when a div is clicked
    for (var i = 0; i < divs.length; i++) {
        divs[i].addEventListener("click", function() {
            modal.style.display = "block";
        });
    }

    // Close the modal when the close button is clicked
    close_button.addEventListener("click", function() {
        modal.style.display = "none";
    });

    // Close the modal when clicking outside the modal
    window.addEventListener("click", function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    });
</script>
{% endblock %}

<script>
    document.addEventListener("DOMContentLoaded", function() {
        user_id = parseInt(get_cookie("user_id"));
        const user_info = retrieve_user_information(user_id);
        console.log(user_info);
    });
</script>



{% block footer %}
<p class="footer-text">2023 Alexander Lu</p>
{% endblock %}