{% extends "base.html" %}

{% block title %}Wildlife Conservation{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaderboard.css') }}">
{% endblock %}

{% block sidebar %}

{% endblock %}

{% block header %}
<div>
    <h1 class="line-1 anim-typewriter">
        Leaderboard
    </h1>
</div>
<script>
    const textElement = document.querySelector('.line-1');

    textElement.addEventListener('animationend', () => {
    textElement.classList.add('hide-cursor');
    });
</script>
{% endblock %}      



{% block content %}
<i class="fas fa-chevron-left" style="color: #ffffff;" onclick="null" id="left-button"></i>
<div class="leaderboard-container" id="leaderboard-container"></div>
<i class="fas fa-chevron-right" style="color: #ffffff;" onclick="increment_page()" id="right-button" ></i>


<script>
    page = 0;
    var leaderboard_container = document.getElementById("leaderboard-container");
    var left = document.getElementById("left-button");
    var right = document.getElementById("right-button");

    function add_leaderboard_entry(content) {
        console.log(content["username"]);
        var entry = document.createElement("div");
        var rank = document.createElement("p");
        var pfp = document.createElement("img");
        var name = document.createElement("p");
        var level = document.createElement("p");
        var points = document.createElement("p");

        entry.classList.add("leaderboard-entry")
        rank.classList.add("leaderboard-rank");
        pfp.classList.add("leaderboard-picture");
        name.classList.add("leaderboard-name");
        level.classList.add("leaderboard-level");
        points.classList.add("leaderboard-points");

        rank.innerHTML = content["rank"];
        pfp.src = "../static/images/user.png";
        pfp.alt="User Picture";
        name.innerHTML = content["username"];
        level.innerHTML = '<i class="fas fa-crown"></i> ' + content["level"];
        points.innerHTML = '<i class="fas fa-globe-americas"></i> ' + content["points"];

        entry.appendChild(rank);
        entry.appendChild(pfp);
        entry.appendChild(name);
        entry.appendChild(level);
        entry.appendChild(points);

        leaderboard_container.appendChild(entry);
        
    }

    function render_leaderboard() {
        var top10 = http_get(base_url + "api/leaderboard?page=" + page);
        if (page == 0) {
                left.onclick=null;
        } else if (top10.length < 10){
                right.onclick=null;
        }
        clear_leaderboard();
        for (let i = 0; i < top10.length; i++) {
            
            let data = top10[i];
            data["rank"] = (page*10)+i+1;
            add_leaderboard_entry(data);
        }
    }

    function clear_leaderboard() {
        var last = leaderboard_container.lastElementChild;
        while (last) {
            leaderboard_container.removeChild(last);
            last = leaderboard_container.lastElementChild;
        }
    }

    function increment_page() {
        // enable decrement when called
        page++;
        render_leaderboard();
        left.onclick=decrement_page;

    }

    function decrement_page() {
        // enable increment when called
        page--;
        render_leaderboard();
        right.onclick=increment_page;
    }

    document.addEventListener("DOMContentLoaded", function() {
        user_id = parseInt(get_cookie("user_id"));
        const user_info = retrieve_user_information(user_id);
        console.log(user_info);
    });
    
    render_leaderboard()
</script>
{% endblock %}



{% block footer %}
<p class="footer-text">2023 Alexander Lu</p>
{% endblock %}