<html>
<head>
    <title>Wildlife Conservation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/fittext.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</head>
<body>
    <header id="header">
    </header>
    
    <main id="main">
        <div class="login-page">
            <h1 class="login-header">Login</h1>
            <hr class="login-header-divider">
            <div class="login-wrapper">
                {% if error %}
                <div class="error-message"> <i class="fas fa-exclamation-circle"></i> {{ error }}</div>
                {% endif %}
                {% if notif %}
                <div class="notif"> <i class="fas fa-exclamation-circle"></i> {{ notif }}</div>
                {% endif %}
                <form method="POST" action="/login">
                    <div class="form-group">
                        <label class="form-label" for="username">Username</label>
                        <input type="text" id="username" name="username" class="form-field" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <label class="form-label" for="password">Password</label>
                        <input type="password" id="password" name="password" class="form-field" required>
                    </div>
                    <br>
                    <div class="options-container">
                        <label class="container"> Stay logged in?
                            <input type="checkbox" onclick="">
                            <span class="checkmark"></span>
                        </label>
                        <button id="register-button" onclick="location.href='/register';" class="form-btn">Register</button>
                        <button id="submit-button" type="submit" value="Login" class="form-btn" disabled="true">Submit</button>
                    </div>
                    
                </form>
            </div>
        </div>
        <script>
            var inputs = document.querySelectorAll('.form-field');
            var submit_button = document.getElementById("submit-button")
            console.log(submit_button);
            var isAllFilled = false;
            function check_if_all_filled() {
                for (var i = 0; i < inputs.length; i++) {
                    if (inputs[i].value === '') {
                        submit_button.classList.remove('filled');
                        submit_button.setAttribute("disabled", "true")
                        return;
                    }
                    
                }
                submit_button.removeAttribute("disabled")
                submit_button.classList.add('filled');
                
            }
    
            document.addEventListener('DOMContentLoaded', function() {
                for (var i = 0; i < inputs.length; i++) {
                    inputs[i].addEventListener('focus', function() {
                        this.parentNode.classList.add('focused');
                    });
    
                    inputs[i].addEventListener('blur', function() {
                        var inputValue = this.value;
                        if (inputValue === '') {
                            this.classList.remove('filled');
                            this.parentNode.classList.remove('focused');
                            check_if_all_filled();
                        } else {
                            this.classList.add('filled');
                            check_if_all_filled();
                        }
                    });
                }
            });
        </script>
    </main>
    
    <footer id="footer">
        <p class="footer-text">2023 Alexander Lu</p>
    </footer>
</body>




