{% extends "base.html" %}

{% block title %}Wildlife Conservation{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block sidebar %}

{% endblock %}

{% block header %}
=
{% endblock %}  
  
{% block content %}
<p>401 Unauthorized</p>
{% endblock %}

<script>
    document.addEventListener("DOMContentLoaded", function() {
        user_id = parseInt(get_cookie("user_id"));
        const user_info = retrieve_user_information(user_id);
        console.log(user_info);
    });
</script>

{% block footer %}
<p class="footer-text">2023 Alexander Lu</p>
{% endblock %}