.grid {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:10px;
    top: 20%;
}

.grid-item {
    border-radius: 20px;
    width: 25em;
    height: 10em;
    background-color: rgb(78, 174, 212);
    padding: 1em;
    margin: 1em;
    flex-direction: row;
    display: flex;
}

.small-flex-container {
    display: flex;
    flex-direction: column;
    width: 33%;
    justify-content: flex-start;
}

.small-flex-item {
    padding: 1px;
}

.main-mission {
    flex-grow: 2;
    padding-left: 1em;
}

.meta-info {
    text-align: center;
}

.vl {
    border-left: 6px solid rgb(241, 241, 241);
    height: 100%;
}

.point-value {
    font-size: 2em;
    color: white;
}

.advisor-name {
    font-size: 1em;
    color: white;
}

.mission-name {
    font-weight: 900;
    color: white;
    text-align: left;
    align-self: flex-start;
}

.mission-description {
    color: white;
    text-align: left;
    align-self: flex-start;
}