{% extends "base.html" %}

{% block title %}Wildlife Conservation{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/grid.css') }}">
{% endblock %}

{% block sidebar %}
<button class="openbtn" onclick="toggleSidebar()">&#9776; Sidebar</button>
<div id="mySidebar" class="sidebar">
    <div class="user-profile">
        <img src="../static/images/user.png" alt="User Avatar" class="avatar">
        <p class="username">John Doe</span>
    </div>
    <a href="#" class="sidebar-link-current" aria-disabled="true" ><i class="fas fa-home" style="color: #ffffff;"></i> Missions</a>
    <a href="#" class="sidebar-link"><i class="fas fa-history"></i> History </a>
    <a href="#" class="sidebar-link"><i class="fas fa-trophy"></i> Leaderboard</a>
    <a href="#" class="sidebar-link"><i class="fas fa-question-circle"></i> Help/Tutorial </a>
    <a href="#" class="sidebar-link"><i class="fas fa-sign-in-alt"></i> Log in</a>
</div>
{% endblock %}

{% block header %}
    <div>
        <h1 class="line-1 anim-typewriter">
            Conservation: Our Duty, Their Future.
        </h1>
    </div>
    <script>
        const textElement = document.querySelector('.line-1');

        textElement.addEventListener('animationend', () => {
        textElement.classList.add('hide-cursor');
        });
    </script>
{% endblock %}  
  
{% block content %}
<div class="grid">
    <div class="grid-item">
        <div class="small-flex-container">
            <div class="small-flex-item-1">500</div>
            <div class="small-flex-item-2">points</div>
        </div>
        <div class="large-flex-item">Test</div>
    </div>
    <div class="grid-item">item</div>
    <div class="grid-item">item</div>
    <div class="grid-item">item</div>
    <div class="grid-item">item</div>
    <div class="grid-item">item</div>
    <div class="grid-item">item</div>
    <div class="grid-item">item</div>
    <div class="grid-item">item</div>  
</div>
{% endblock %}

{% block footer %}
<p class="footer-text">2023 Alexander Lu</p>
{% endblock %}