.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2b9348;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.4rem;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.avatar {
    border-radius:50%;
    border: 5px solid gold;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    width: 40%;
}

.username {
    background-color: gold;
    font-family: 'Courier New', Courier, monospace;
    font-weight:bolder;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;  
}

.sidebar-link-current {
    background-color: #1f6b34;
}

.sidebar a:hover {
    color: #f1f1f1;
    background-color: #ffc400;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    cursor: pointer;
    background-color: #2b9348;
    color: white;
    padding: 10px 15px;
    border: none;
    transition: 0.3s;
}

.openbtn:hover {
    background-color: #00da3e;
}

#main {
    transition: margin-left 0.5s;
    padding: 20px;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}